* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

h1 {
  text-align: center;
  border: solid chocolate;
  height: 25%;
  padding: 15px;
  background-color: rgb(90, 90, 189);
  color: white;
}

.container {
  display: flex;
  border: solid crimson;
}

.weather-output {
  display: flex;
  border: solid rgb(72, 215, 244);
  flex-direction: column;
  width: 85%;
}

.search {
  flex-direction: column;
  /*box-sizing: content-box;*/
  border: solid blue;
  display: block;
  text-align: center;
  width: 15%;
  height: 600px;
  margin: 5px;
}

.cities {
  flex-direction: column;
  border: solid rgb(30, 255, 0);
  justify-content: center;  
  margin: 5px;  
  
}

.search-form {
  flex-direction: column;
  border: solid rgb(30, 255, 0);
  justify-content: center;
  margin: 5px;  
}

button, .city-search {
  display: block;
  width: 100%;
  
  margin: 5px 0;  
  padding: 10px;
}

.current-city {
  display: flex;  
  flex-direction: column;
  /*align-items: flex-start;*/
  border: solid rgb(212, 0, 255);
  justify-content: center;
  width: 100%;
  margin: 5px 0;  
  padding: 5px;
}

#city-select, #today-date, #icon-current {
  border: solid rgb(240, 8, 66);
  text-align: center;
  margin: 5px 0;  
  padding: 5px;
}

#cur-weath {
  border: solid rgb(34, 194, 34);
  width: 100%;
  margin: 5px 0;  
  padding: 5px;
}

.curr-head{
  border: solid rgb(215, 205, 15);
  display: flex;
  flex-wrap: wrap; 
  width: 100%
}
.forecast {
  flex-direction: row;
  border: solid rgb(255, 140, 0);
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

.days {
  display: flex;
  border: solid rgb(255, 0, 183);
  justify-content: center;
  width: 100%;
  margin: 5px 0; 
}

h3 {
  line-height: 1%;
}

.day-block {
  flex-direction: row;
  border: solid rgb(102, 255, 0);
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.fa-cloud {
  color:rgb(168, 160, 160); 
  text-shadow: 3px 3px 3px rgb(79, 76, 76);
}

.fa-sun {
  color: orange; 
  text-shadow: 1px 1px 1px red;
}

.fa-snowflake {
  color:rgb(114, 142, 210); 
  text-shadow: 1px 1px 1px darkblue;
}

.fa-cloud-bolt {
  color:rgb(88, 36, 125); 
  text-shadow: 2px 2px 2px rgb(180, 162, 195);
}

.fa-cloud-showers-heavy {
  color:rgb(188, 188, 211);  
  text-shadow: 2px 2px 2px rgb(4, 72, 95);
}

.fa-smog {
  color:rgba(255, 255, 255, 0.743);  
  text-shadow: 1px 1px 1px rgb(10, 57, 73);
}

.fa-tornado {
  color:rgb(71, 67, 67); 
  text-shadow: 2px 2px 2px rgb(171, 155, 155);
}

@media screen and (max-width: 768px) {
  .day-block, .forecast, .current-city, .days {
    flex-direction: column;
    justify-items: center;     
    text-align: center;
    flex-wrap: wrap;
  } 
}    

@media screen and (max-width: 768px) {
  .search {
    width: 50%;
  } 
}   