* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

h1 {
  text-align: center; 
  height: 25%;
  padding: 15px;  
  background-image: linear-gradient(to right, lightblue, darkblue);
  color: white;  
}

.container {
  display: flex;    
}

.search {
  flex-direction: column;
  display: block;
  text-align: center;
  width: 15%;
  height: 100%;
  margin: 5px;
}

.search-head {
  text-align: left;
  padding: 10px;
}

.search-form {
  flex-direction: column;
  justify-content: center;
  margin: 5px;  
}

.city-search {
  display: block;
  width: 100%;  
  margin: 5px 0;  
  padding: 10px;
}

button {
  display: block;
  width: 100%;  
  margin: 5px 0;  
  padding: 10px;
  background-color: lightgray;
  border-color: lightgray;
  font-weight: bold;
}

.sbmt-btn {
  background-color: rgb(93, 143, 230);
  border-color: rgb(99, 151, 240);
  color: white;
  font-weight: bold;  
}

.cities {
  flex-direction: column;
  justify-content: center;  
  margin: 5px;    
}

.weather-output {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.current-city {
  display: flex;  
  border: solid black;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 5px 0;  
  padding: 5px;
}

.curr-head{
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  margin: 5px 0;  
  padding: 5px;
}

#city-select, #today-date, #icon-current {  
  text-align: center;
  margin: 5px 0;  
  padding: 5px;
}

#cur-weath {
  width: 100%;
  margin: 5px 0;  
  padding: 5px;
}

.forecast {
  flex-direction: row;
  /*border: solid blue;*/
  justify-content: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
}

#fore-head {
  padding-left: 10px;  
}

.days {
  display: flex;
  justify-content: center; 
  width: 100%;  
}


.day-block {
  flex-direction: row;
  border: solid darkblue;
  background-color: rgb(63, 63, 92);  
  color: white;
  justify-content: center;
  width: 100%;
  margin: 5px;
  padding: 10px;
}

.fa-cloud {
  color:rgb(168, 160, 160); 
  text-shadow: 3px 3px 3px rgb(79, 76, 76);
}

.fa-sun {
  color: orange; 
  text-shadow: 1px 1px 1px red;
}

.fa-snowflake {
  color:rgb(114, 142, 210); 
  text-shadow: 1px 1px 1px darkblue;
}

.fa-cloud-bolt {
  color:rgb(88, 36, 125); 
  text-shadow: 2px 2px 2px rgb(180, 162, 195);
}

.fa-cloud-showers-heavy {
  color:rgb(188, 188, 211);  
  text-shadow: 2px 2px 2px rgb(36, 88, 105);
}

.fa-smog {
  color:rgba(255, 255, 255, 0.743);  
  text-shadow: 1px 1px 1px rgb(10, 57, 73);
}

.fa-tornado {
  color:rgb(71, 67, 67); 
  text-shadow: 2px 2px 2px rgb(171, 155, 155);
}

@media screen and (max-width: 992px) {
  .search-head {
    text-align: center;
    padding: none;
  }
}

@media screen and (max-width: 992px) {
  .day-block, .forecast, .current-city, .days {
    flex-direction: column;
    justify-items: center;     
    text-align: center;
    flex-wrap: wrap;
  } 
}    

@media screen and (max-width: 992px) {
  .search {
    width: 50%;
  } 
}   

@media screen and (max-width: 992px) {
  #city-select, #today-date, #icon-current {
    width: 100%;
  }
}   

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }
  }

@media screen and (max-width: 576px) {
  .search, .weather-output {
    width: 100%;
    flex-direction: column;
    justify-items: center;     
    text-align: center;
    flex-wrap: wrap;
  } 
}   


